<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>沪深证券日线编辑</title>
    #parse("commons/commonJs.vm")
    #parse("commons/commonCss.vm")
    <script type="text/javascript">
        function save() {
            jQuery('#fm').form('submit', {
                url: '${base}/stk/rx-data/save',
                onSubmit: function () {
                    return jQuery(this).form('validate');
                },
                success: function (result) {
                    result = jQuery.parseJSON(result);
                    Magic.closeWin();
                    if (!result.success) {
                        window.parent.jQuery.messager.show({title: '错误', msg: result.message});
                    } else {
                        window.parent.jQuery('#dg').datagrid('reload');
                    }
                }
            });
        }
    </script>
</head>
<body class="easyui-layout" data-options="fit:true">
<div data-options="region:'center',border:false"
     style="padding: 10px 60px 20px 60px;background:#fff;border:1px solid #ccc;">
    <form id="fm" method="post">
        <input type="hidden" name="id" value="$!{model.id}">
        <table width="100%" cellpadding="5">
                            <tr>
                    <td align="left">
                        代码
                    </td>
                    <td>
                                                <input name="stockCode" class="easyui-textbox" value="$!{model.stockCode}">
                    </td>
                </tr>
                            <tr>
                    <td align="left">
                        名称
                    </td>
                    <td>
                                                <input name="stockName" class="easyui-textbox" value="$!{model.stockName}">
                    </td>
                </tr>
                            <tr>
                    <td align="left">
                        日期
                    </td>
                    <td>
                                                <input name="dt" class="easyui-textbox" value="$!{model.dt}">
                    </td>
                </tr>
                            <tr>
                    <td align="left">
                        开盘
                    </td>
                    <td>
                                                <input name="curOpen" class="easyui-textbox" value="$!{model.curOpen}">
                    </td>
                </tr>
                            <tr>
                    <td align="left">
                        最高
                    </td>
                    <td>
                                                <input name="high" class="easyui-textbox" value="$!{model.high}">
                    </td>
                </tr>
                            <tr>
                    <td align="left">
                        最低
                    </td>
                    <td>
                                                <input name="low" class="easyui-textbox" value="$!{model.low}">
                    </td>
                </tr>
                            <tr>
                    <td align="left">
                        收盘
                    </td>
                    <td>
                                                <input name="curClose" class="easyui-textbox" value="$!{model.curClose}">
                    </td>
                </tr>
                            <tr>
                    <td align="left">
                        成交量
                    </td>
                    <td>
                                                <input name="volume" class="easyui-textbox" value="$!{model.volume}">
                    </td>
                </tr>
                            <tr>
                    <td align="left">
                        5日线
                    </td>
                    <td>
                                                <input name="ma1" class="easyui-textbox" value="$!{model.ma1}">
                    </td>
                </tr>
                            <tr>
                    <td align="left">
                        10日线
                    </td>
                    <td>
                                                <input name="ma2" class="easyui-textbox" value="$!{model.ma2}">
                    </td>
                </tr>
                            <tr>
                    <td align="left">
                        20日线
                    </td>
                    <td>
                                                <input name="ma3" class="easyui-textbox" value="$!{model.ma3}">
                    </td>
                </tr>
                            <tr>
                    <td align="left">
                        60日线
                    </td>
                    <td>
                                                <input name="ma4" class="easyui-textbox" value="$!{model.ma4}">
                    </td>
                </tr>
                            <tr>
                    <td align="left">
                        5日量
                    </td>
                    <td>
                                                <input name="mavol1" class="easyui-textbox" value="$!{model.mavol1}">
                    </td>
                </tr>
                            <tr>
                    <td align="left">
                        10日量
                    </td>
                    <td>
                                                <input name="mavol2" class="easyui-textbox" value="$!{model.mavol2}">
                    </td>
                </tr>
                            <tr>
                    <td align="left">
                        KDJ.K
                    </td>
                    <td>
                                                <input name="k" class="easyui-textbox" value="$!{model.k}">
                    </td>
                </tr>
                            <tr>
                    <td align="left">
                        KDJ.D
                    </td>
                    <td>
                                                <input name="d" class="easyui-textbox" value="$!{model.d}">
                    </td>
                </tr>
                            <tr>
                    <td align="left">
                        KDJ.J
                    </td>
                    <td>
                                                <input name="j" class="easyui-textbox" value="$!{model.j}">
                    </td>
                </tr>
                            <tr>
                    <td align="left">
                        顺序
                    </td>
                    <td>
                                                <input name="orderBy" class="easyui-textbox" value="$!{model.orderBy}">
                    </td>
                </tr>
                    </table>
    </form>
</div>
<div region="south" border="false" style="text-align: right; height: 30px;padding-top:3px;padding-right:10px">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="save()">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="Magic.closeWin()">取消</a>
</div>
</body>
</html>