<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ijustyce.weekly1601">

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/IAppTheme"
        tools:replace="name">

        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".ListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".ScrollActivity" />
        <activity android:name=".PictureActivity" />
        <activity android:name=".AutoLayoutActivity" />
        <activity android:name=".WebViewActivity" />

        <meta-data
            android:name="design_width"
            android:value="750" />

        <meta-data
            android:name="design_height"
            android:value="1334" />

        <activity android:name=".TestActivity">

        </activity>
    </application>

</manifest>