<!DOCTYPE HTML>
<html dir="ltr" lang="zh-cn">
<head>
    <title>我的消息</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="generator" content="客客出品专业威客2.7.0" />
    <meta name="viewport" content="width=device-width,initial-scale=1 ,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style” content=black" />
    <meta name="author" content="kekezu" />
    <meta name="copyright" content="" />
    <meta property="qc:admins" content="1220311574763007636" />
    <meta property="wb:webmaster" content="6b685cd5f06ba5f1" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="apple-touch-icon" href="favicon.ico" />
    <script src="${base}/static/js/jquery.min.js"></script>
    <script src="${base}/static/js/jquery.lazyload.js"></script>
    <script src="${base}/static/js/bootstrap.min.js"></script>
    <script src="${base}/static/js/jquery.form.js"></script>
    <script src="${base}/static/js/bootstrap-datetimepicker.js"></script>
    <script src="${base}/static/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="${base}/static/js/sco.confirm.js"></script>
    <script src="${base}/static/js/sco.modal.js"></script>
    <script src="${base}/static/js/sco.valid.js"></script>
    <script src="${base}/static/js/holder.min.js"></script>
    <script src="${base}/static/js/model/common/base.js"></script>
    <script src="${base}/static/js/jquery.bgiframe.pack.js"></script>
    <script src="${base}/static/js/jqplugins/jscroll/jquery.mousewheel.js"></script>
    <script src="${base}/static/js/jqplugins/jscroll/jquery.jscrollpane.min.js"></script>
    <script src="${base}/static/js/jquery.placeholder-enhanced.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=HlkMGAhFgon122p5ucBmnoEG"></script>

    <link href="${base}/static/css/user.css" rel="stylesheet" type="text/css" id="active-style-user">
    <link href="${base}/static/css/animate.css" rel="stylesheet" type="text/css">
    <link href="${base}/static/css/rework.css" rel="stylesheet" type="text/css">
    <link href="${base}/static/css/hongb.css" rel="stylesheet" type="text/css">
    <!-- js超酷消息警告框插件  -->
    <script type="text/javascript" src="${base}/static/js/swal/js/sweet-alert.min.js?r=0.82587500"></script>
    <link rel="stylesheet" type="text/css" href="${base}/static/js/swal/css/sweet-alert.css">
</head>
<body id="user">
<script src="${base}/static/js/model/user/user.js"></script>
<script src="${base}/static/js/model/user/transaction.js"></script>

<script type="text/javascript">
    $(function () {
        $("#jobType").val($!{jobType});
        $('#pageSize').val($!{pageSize});
        $("#viewStatus").val($!{viewStatus});
    });
</script>
<!-- /header -->
    #parse("includes/message/home_manage.vm")
<!-- nav end -->

<div class="container">
    #parse("includes/message/nav_manage.vm")
    <!-- nav-action end -->
    <div class="content-panel">
      <div class="tab">
          <a class="selected">在线作业</a>
      </div>

        <div class="tab_detail">
            <form action="onlinemsglist" method="post" name="searchServiceForm" id="searchServiceForm">
                <input type="hidden"  name="type" id="type" value="$!{type}">
                <div class="action-bar">
                        <div class="action-item">
                            <select class="form-control" name="viewStatus" id="viewStatus">
                                <option value="0">全部</option>
                                <option value="1">未读</option>
                                <option value="2">已读</option>
                            </select>
                        </div>
                    <div class="action-item">
                        <select class="form-control" name="jobType" id="jobType">
                            <option value="">全部</option>
                            <option value="1">业主消息</option>
                            <option value="2">团队消息</option>
                            <option value="3">财务消息</option>
                        </select>
                    </div>
                </div>
                    <div class="table-responsive">
                        <table class="table table-hover ">
                            <thead>
                            <tr>
                                <th>状态</th>
                                <th>消息类别</th>
                                <th>标题</th>
                                <th>发件人</th>
                                <th>时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                                #foreach($row in $rows)
                                    #if($!{row.viewStatus}=="2")
                                        #set($viewstr="已读")
                                    #else
                                        #set($viewstr="未读")
                                    #end
                                    #if($!{row.jobType}=="1")
                                        #set($jobstr="业主消息")
                                    #elseif($!{row.jobType}=="2")
                                        #set($jobstr="团队消息")
                                    #elseif($!{row.jobType}=="3")
                                        #set($jobstr="财务消息")
                                    #else
                                        #set($jobstr="其他")
                                    #end
                                <tr>
                                    <td><label><input type="checkbox" value="$!{row.id}" >$!{viewstr}</label></td>
                                    <td>$!{jobstr}</td>
                                    <td><a href="${base}/message/detail?id=$!{row.id}&type=$!{type}" style="color: blue">$!{row.title}</a></td>
                                    <td>$!{row.uid}</td>
                                    <td>$!{row.createDate}</td>
                                    <td><a href="${base}/message/detail?id=$!{row.id}&type=$!{type}" style="color: blue">查看</a>&nbsp;&nbsp;<a href="${base}/message/delete?id=$!{row.id}&type=$!{type}" style="color: blue">删除</a></td>
                                </tr>
                                #end
                            </tbody>
                        </table>
                    </div><!-- content-panel end -->
                    <div class="clearfix">
                        <input type="hidden" name="page" id="page" value="1" />
                        <ul style=" float:right;" class="pagination" id="pagination1"></ul>
                    </div>
                    <script type="text/javascript" src="${base}/static/js/pagination/js/jqPaginator.js"></script>
                    <script type="text/javascript">
                        $.jqPaginator('#pagination1', {
                            totalPages:$lastPage,
                            visiblePages: 3,
                            currentPage: $currentPage,
                        });
                        function pagesubmit(a){
                            $("#page").val(a.id);
                            document.searchTransactionForm.submit();
                        }

                    </script>
            </form>
        </div>
        </div><!-- media end -->
    </div>
<script src="${base}/static/js/jquery.lazyload.js"></script>
    #parse("includes/footer.vm")
</body>
</html>
