##包定义
package $!{targetPackage};

import org.junit.Test;
import org.springframework.test.web.servlet.result.MockMvcResultMatchers;

import com.skoo.test.ManActionStandaloneSetupTestCase;

/**
 * 
 * @description:$!{className} action单元测试用例
 * @author: autoCode
 * @history:
 */

public class $!{className}ActionTest extends
		ManActionStandaloneSetupTestCase<$!{className}Action> {
	

}
