##包定义
package $!{targetPackage};

import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;

import $!{basePackage}.common.action.ManAction;
##import domain、service
import $!{generatorContext.domain};
import $!{generatorContext.service};

/**
 * 
 * @description:$!{className} action
 * @author: autoCode
 * @history:
 */
 ## 类名
@Controller
@RequestMapping("/$!{generatorContext.module}/$!{table.urlName}")
@SuppressWarnings("serial")
public class $!{className}Action extends ManAction<$!{className},$!{className}Service> {
	

}
