<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>系统权限编辑</title>
#parse("commons/commonJs.vm")
#parse("commons/commonCss.vm")
<script type="text/javascript">
	function save(){            
		jQuery('#fm').form('submit',{                
			url: '${base}/sys/permission/save',                
			onSubmit: function(){
				return jQuery(this).form('validate');
			},
			success: function(result){
				result = jQuery.parseJSON(result);
				Magic.closeWin();  
				if(!result.success){  
					window.parent.jQuery.messager.show({title: '错误', msg: result.message });                  
				} else {                  
					window.parent.jQuery('#dg').datagrid('reload');   
				}             
			}         
		});     
	}
</script>
</head>
<body class="easyui-layout" data-options="fit:true">
	 <div data-options="region:'center',border:false" style="padding: 10px 60px 20px 60px;background:#fff;border:1px solid #ccc;">
      <form id="fm" method="post">
			<input type="hidden" name="id" value="$!{model.id}">
			<table width="100%" cellpadding="5">
                <tr>
                    <td align="left">
                        上级权限
                    </td>
                    <td>
                        <input class="easyui-combotree" id="pid" name="pid" data-options="url:'${base}/sys/permission/queryTree',method:'get'" style="width:200px;" value="$!{pid}">
                    </td>
                </tr>
    			<tr>
					<td align="left">
    			 		名称
    			 	</td>
    			 	<td>
						<input name="name" class="easyui-textbox" value="$!{model.name}" data-options="required:true">
    			 	</td>
    			 </tr>
    			<tr>
					<td align="left">
    			 		编码
    			 	</td>
    			 	<td>
						<input name="code" class="easyui-textbox" value="$!{model.code}">
    			 	</td>
    			 </tr>
                <tr>
                    <td align="left">
                        类型
                    </td>
                    <td>
						#combobox('type',${permissionTypes},'value','content',${model.type})
                    </td>
                </tr>
    			<tr>
					<td align="left">
    			 		链接
    			 	</td>
    			 	<td>
						<input name="url" class="easyui-textbox" value="$!{model.url}">
    			 	</td>
    			 </tr>
         	</table>
	</form>
	</div>
        <div region="south" border="false" style="text-align: right; height: 30px;padding-top:3px;padding-right:10px">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="save()">保存</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="Magic.closeWin()">取消</a>
        </div>
</body>
</html>