<!DOCTYPE html>
<html>
    <head>
        <title>内容扩展表管理</title>
        <meta charset="UTF-8">
        #parse("commons/commonJs.vm")
		#parse("commons/commonCss.vm")
		<script type="text/javascript">
			$(function() {
				jQuery('#dg').datagrid({
					url:'${base}/pub/content-ext/queryPaged',
					columns:[[
						{field:'id',checkbox:true}
						,{field:'contentId',title:'内容ID',width:100}
						,{field:'title',title:'标题',width:100}
						,{field:'shortTitle',title:'简短标题',width:100}
						,{field:'author',title:'作者',width:100}
						,{field:'origin',title:'来源',width:100}
						,{field:'originUrl',title:'来源链接',width:100}
						,{field:'description',title:'描述',width:100}
						,{field:'releaseDate',title:'发布日期',width:100}
						,{field:'mediaPath',title:'媒体路径',width:100}
						,{field:'mediaType',title:'媒体类型',width:100}
						,{field:'titleColor',title:'标题颜色',width:100}
						,{field:'isBold',title:'是否加粗',width:100}
						,{field:'titleImg',title:'标题图片',width:100}
						,{field:'contentImg',title:'内容图片',width:100}
						,{field:'typeImg',title:'类型图片',width:100}
						,{field:'link',title:'外部链接',width:100}
						,{field:'tplContent',title:'指定模板',width:100}
						,{field:'needRegenerate',title:'需要重新生成静态页',width:100}
						,{field:'orderBy',title:'排序',width:100}
					]],
					pagination:true,
					singleSelect:false,
					fitColumns:true,
					fit: true,
					toolbar:'#toolbar',
					onDblClickRow: function(rowid,rowdata){
						editForm();
					}
				});
			});
			function optionFun(value,row,index) {
				return "";
			}
			function newForm(){
				Man.openWin('新增内容扩展表','${base}/pub/content-ext/add',600,200);
			}
			function editForm(){
				var row = jQuery('#dg').datagrid('getSelected');
				if (row){
					Man.openWin('编辑内容扩展表','${base}/pub/content-ext/edit/'+row.id,600,300);
				}
			}
			function destroyForm(){
				var rows = jQuery('#dg').datagrid('getSelections');
				if (rows.length>0){
					jQuery.messager.confirm('确认删除','确定删除该记录?',function(r){
						if (r){
							var ids = [];
							jQuery.each(rows,function(index,row) {
								ids.push(row.id);
							});
							jQuery.post('${base}/pub/content-ext/delete',{'ids':ids.toString()},function(result){
								Man.reloadList(result);
							});
						}
					});
				}
			}
			
			function contentSearch(){ 
				var contentId=jQuery('#filter_contentId').val();
                jQuery('#dg').datagrid('load',{
				'contentId':contentId				})}
			
		</script>
</head>
<body class="easyui-layout" style="overflow-y: hidden" scroll="no">
   <table id="dg" data-options="toolbar:'#toolbar'"></table>
    <div id="toolbar">
    	<div class="search_box">
			内容ID：<input id="filter_contentId" class="easyui-textbox" >
			<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="contentSearch()">搜索</a>
    	</div>
    	<div class="btn_box">
    		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newForm()">新增</a>
        	<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editForm()">编辑</a>
        	<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyForm()">删除</a>
    	</div>
	</div>
</body>
</html>
