<header class="header">
    <div class="logo">
        <a href="https://www.javaear.com/" target="_blank"></a></div>
    <div class="user">
        <a href="/system/management/user-edit.html?id=$user.id&type=show"><img src="/system/image/admin/0.png" width="40" height="40" id="avatar"/></a>
        <div class="username">管理员：$!user.name</div>
        <div class="userbtn"><a class="profile" href="/index.html" target="_blank">返回</a>&nbsp;&nbsp;<a class="logout" href="/system/logout.html">注销</a></div>
    </div>
    <div class="menu">
        <ul id="topmenu">
            <li id="topmenu1"><a href="/system/index.html" target="_self">后台首页</a></li>
            <li id="topmenu2"><a href="/system/setting.html" target="_self">网站设置</a></li>
            <li id="topmenu4"><a href="http://www.javaear.com" target="_blank">官方网站</a></li>
        </ul>
    </div>
</header>
<aside class="left">
    <ul id="leftmenu">
        <li id="nav_new"><a href="/system/management/article-add.html?type=show"><span>新建文章</span></a></li>
        <li id="nav_article"><a href="/system/management/article-management.html"><span>文章管理</span></a></li>
        <li class='split'>
            <hr/>
        </li>
        <li id="nav_category"><a href="/system/management/category-management.html"><span>分类管理</span></a></li>
        <li id="nav_tags"><a href="/system/management/tag-management.html"><span>标签管理</span></a></li>
        <li id="nav_comment"><a href="/system/management/comment-management.html"><span>评论管理</span></a></li>
        <li id="nav_upload"><a href="/system/management/upload-management.html"><span>附件管理</span></a></li>
        <li class='split'>
            <hr/>
        </li>
        <li id="nav_member"><a href="/system/management/user-management.html"><span>用户管理</span></a></li>
        <li id="nav_theme"><a href="/system/management/authority-management.html"><span>权限管理</span></a></li>
        <li class='split'>
            <hr/>
        </li>
        <li id="nav_plugin"><a href="/system/management/plugin-management.html"><span>插件管理</span></a></li>
        <li id="nav_AppCentre"><a href="/system/management/app-management.html"><span>应用中心</span></a></li>
    </ul>
</aside>