<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>会员批量导入</title>
    #parse("commons/commonJs.vm")
    #parse("commons/commonCss.vm")
    <script type="text/javascript">
##        function save() {
##            jQuery('#fm').form('submit', {
##                url: '${base}/member/auth-space/importExcel',
##                onSubmit: function () {
##                    return jQuery(this).form('validate');
##                },
##                success: function (result) {
##                    result = jQuery.parseJSON(result);
##                    Magic.closeWin();
##                    if (!result.success) {
##                        window.parent.jQuery.messager.show({title: '错误', msg: result.message});
##                    } else {
##                        window.parent.jQuery('#dg').datagrid('reload');
##                    }
##                }
##            });
##        }
function updateExl(){
    var s=document.exForm.importExcel.value;
    if(s==""){
        alert("请先选择文件");
        document.exForm.importExcel.focus();
        return;
    }
    document.exForm.submit();
    Magic.closeWin();
}
        $(function () {
            $('#indusId').combo({
                onselect:function(record){
                    alert($("#indusId").val());
                }
            });
        })
    </script>
</head>
<body class="easyui-layout" data-options="fit:true">
<div data-options="region:'center',border:false"
     style="padding: 10px 60px 20px 60px;background:#fff;border:1px solid #ccc;text-align: center" >
    <div style="position:relative;margin-top:5%">
        <form  name="exForm" action="importExcel" method="post" enctype="multipart/form-data">
            <input type="file" name="importExcel" id="importExcel">
        </form>
    </div>
</div>
<div region="south" border="false" style="text-align: right; height: 30px;padding-top:3px;padding-right:10px">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="updateExl()">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="Magic.closeWin()">取消</a>
</div>
</body>
</html>