<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>我的自选股</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <script type="text/javascript" src="${base}/static/js/east/ht_web.js"></script>
    <link rel="stylesheet" type="text/css" href="${base}/static/css/east/index.css">
</head>
<body>
<div class="gtallw clearfix">
    <div class="fr st-wrap" id="stockMain">
        <div class="st-title">
            <div id="sec-title" class="pt-title fl">
                <!--  <h2 id="fir-title" class="st-title-h2 font-wryh fl" tabindex="1">沪深自选</h2> -->
                <a href="http://i.eastmoney.com/stock.html"><h3 class="cur">沪深<i></i></h3></a>
            </div>

            <a id="refreshALLALLALL" href="javascript:void(0);" class="fr st-title-refresh"><em></em>手动刷新</a>
            <form method="get" target="_self"><input id="myOwnInputCode" class="st-title-input" type="text" autocomplete="off"></form>
            <span id="directAddStock" class="st-title-button click" href="javascript:void(0);">添加</span>
            <span id="checkALL" class="st-title-button click" href="javascript:void(0);">查询</span>
            <span id="addLot" class="dropInmyStock ml18 fl click">导入我的自选股</span>
        </div>
        <div id="header-quote" class="header_quote"><hr></div>
        <div class="positionrelativemy" style="z-index:3;">
            <div class="fr jmbv2">
                    <span href="javascript:void(0)" id="topmoreCollectionSelect" class="click topmoreCollectionSelect" style="display: none;">
            更多组合&gt;&gt;
            <div class="moreCollectionSelect" id="moreCollectionSelect"></div>
                </span>
                <span id="addCollectionBtn" class="st-add-collection click"><em></em>新建组合</span>
            </div>
            <ul class="st-user-tab1" id="myStockCollection"><li title="自选股" lid="70769634" class=" cur">自选股<div class="editCollection"><span class="renameCt">更改名称</span><span class="deleteCt">删除组合</span></div></li><li title="上海" lid="70769666">上海</li></ul>
        </div>

        <div class="positionrelativemy" style="*z-index:99">
            <div class="jmbv1">
                批量设置：
                <span id="delLotOfStock" class="st-deletlots click"><em></em>删除</span>
               <span id="moveLotOfStock" class="st-movelots click positionrelativemy"><em></em>移动到
                   <div id="allSCollections" class="clearfix"></div>
               </span>
            </div>
            <ul class="st-user-tab2" id="callBackTypes">
                <li id="loginZX" class="cur" callName="CTALL">我的自选</li>
                <!--<li callName="CTDF">增仓排名</li>-->
                <li id="unloginZX" style="display: none" callName="CTF">我的自选</li>
                <li callName="CTBF">资金流向</li>
                #*<li callName="CTDDE">DDE决策</li>
                <li callName="CTPF">盈利预测</li>
                <li callName="CTFA">财务数据</li>*#
                <li callName="DGTL">多股同列</li>
                <li callName="YKYL">盈亏一览</li>
            </ul>
            <div id="xxxl">
                <span id="dzCss" class="fl dzml5">大字</span>
                <span id="xzCss" class="fl dzml5 dzbtnSelected">小字</span>
            </div>
            <div class="jmbv3" id="userReadUp">
                <i></i>（排序状态不可拖动）
            </div>
        </div>

        <div class="positionrelativemy">
            <div class="st-table" id="stockDataTables">

            </div>
            <div id="pics" class="pics">
            </div>
        </div>
        <div id="gagagc" class="st-ht w100p">
            <table class="st-total-table" cellpadding="0" cellspacing="0">
                <td style="padding-left: 12px">当页总计：</td>
                <td>总持股 <b id="total_cyl">312312</b></td>
                <td>总成本 <b id="total_mrcb">312312</b></td>
                <td>总市值 <b id="total_dqsz">312312</b></td>
                <td>总每股盈亏 <b id="total_mgyk">312312</b></td>
                <td>总盈亏率 <b id="total_ykl">312312</b></td>
                <td>总浮动盈亏 <b id="total_fdyk">312312</b></td>
            </table>
        </div>
        <div id="morePages" class="more-pages">

        </div>
        <div class="st-table-info st-gray" id="st-table-sortInfo">
            默认排序中，点击表头可更改排序状态（拖动每行可以自定义排序；拖动每行可以移动到另外组合）
        </div>
        <div style="position: relative; height: 0px;">
            <div id="howTimeFly" class="st-gray">2014年3月20日 星期一 13:16:18</div>
        </div>

        <div class="st-info" id="stockInfo">
            <ul class="info-tabs" id="stInfoTabs" style="position: static; top: 0px; width: 815px; z-index: 10;">
                <!-- <li data-id=0 class='active'>全部</li> -->
                <li class="active" data-id="0">股吧</li>
                <li data-id="1">新闻</li>
                <li data-id="3">公告</li>
                <li data-id="2">研报</li>
            </ul>
            <div id="info-wrap" class="info-wrap"><div class="item clearfix">  <div class="stockcode">
            </div></div></div>
        </div>

    </div>

    <input type='hidden' id='myStockLoadImg' value='${base}/static/img/east/loading2.gif'/>

    <div class="page-footer" style="clear:both;">
        <div id="tixing">
            <div id="tixingTips" style="display:none">
                <div class="tixingClose"></div>
                <div class="tixingDiv"><span>查看</span><span class="tixing">0个股价提醒</span></div>
                <div class="tixingDiv"><span>查看</span><span class="tixing">0个公告提醒</span></div>
                <div class="tixingDiv"><span>查看</span><span class="tixing">0个研报提醒</span></div>
                <div class="tixingDiv"><span>查看</span><span class="tixing">0个数据提醒</span></div>
            </div>

            <div style="float: right;width: 17px;"><em></em>提醒</div>
        </div>
        <div class="navi-open" id="navigatorHide" style="display:none">收起导航</div>
        <div id="backtop" onClick="window.scroll(0,0)"><em></em>回到顶部</div>

    </div>

</div>
<script type="text/javascript" src="${base}/static/js/jquery.min.1.8.3.js"></script>
<script type="text/javascript" src="${base}/static/js/east/index.js"></script>
<script type="text/javascript">
    var portalurl = "${portal_url}/";
    window.switchBackTop = 0;//不显示行情搜索及返回顶部；
    window.emRightBodyWidth = 1050;//950,1000 不写默认1000
    window.emRightAdTop = '70px';
</script>
</body>
</html>