<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.alipay.sdk.pay.demo"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application>

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

    </application>

</manifest>
