<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>预算费用编辑</title>
    #parse("commons/commonJs.vm")
    #parse("commons/commonCss.vm")
    <script type="text/javascript">
        function save() {
            jQuery('#fm').form('submit', {
                url: '${base}/job/budget/save',
                onSubmit: function () {
                    return jQuery(this).form('validate');
                },
                success: function (result) {
                    result = jQuery.parseJSON(result);
                    Magic.closeWin();
                    if (!result.success) {
                        window.parent.jQuery.messager.show({title: '错误', msg: result.message});
                    } else {
                        window.parent.jQuery('#dg').datagrid('reload');
                    }
                }
            });
        }
    </script>
</head>
<body class="easyui-layout" data-options="fit:true">
<div data-options="region:'center',border:false"
     style="padding: 10px 60px 20px 60px;background:#fff;border:1px solid #ccc;">
    <form id="fm" method="post">
        <input type="hidden" name="id" value="$!{model.id}">
        <table width="100%" cellpadding="5">
		<tr>
			<td align="left"> 所属节点</td>
	        <td>
				<input class="easyui-textbox" disabled="true" value="$!{processName}" style="width:240px;height:30px;">
	       		<input type="hidden" name="processId" value="$!model.processId">
	        </td>
		</tr>
		<tr>
			<td align="left">成员</td>
            <td>
				<input class="easyui-textbox" disabled="true" value="$!{username}" style="width:240px;height:30px;">
            	<input type="hidden" name="uid" value="$!model.uid">
            </td>
		</tr>
        <tr>
			<td align="left">预算费用</td>
			<td>
				<input name="budgetFare" style="width:240px;height:30px;" class="easyui-textbox" value="$!{model.budgetFare}">
			</td>
		</tr>
        <tr style="display:none;">
			<td align="left">实付费用</td>
			<td>
				<input name="realFare" style="width:240px;height:30px;" class="easyui-textbox" value="$!{model.realFare}">
		    </td>
		</tr>
		</table>
    </form>
</div>
<div region="south" border="false" style="text-align: right; height: 30px;padding-top:3px;padding-right:10px">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="save()">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="Magic.closeWin()">取消</a>
</div>
</body>
</html>