body {
    font-family: 宋体;
    line-height: 1.2;
    color: #444;
    margin: 5px auto !important;
    width: 1200px;
}

a {
    cursor: pointer;
    text-decoration: underline;
    color: #003497
}

a:link {
    color: #003497
}

a:visited {
    color: #003497
}

a:hover {
    color: red
}

a:active {
    color: #000
}

a.red {
    color: #dc0000
}

a.green {
    color: #097C25
}

input {
    vertical-align: middle
}

img {
    vertical-align: bottom
}

.page-main {
    width: 1100px;
    margin: 0 auto
}

.page-main .aside {
    float: left;
    width: 175px
}

.page-main .section-main {
    float: right;
    width: 1100px;
    overflow: hidden;
    line-height: 1.5
}

.page-main table {
    background: url(../../img/east/table_bg.png) repeat-y #fff
}

.col-403 {
    width: 543px
}

.red {
    color: #dc0000
}

.green {
    color: #097C25
}

.digi-up,.numeric-up {
    color: #dc0000
}

.digi-down,.numeric-down {
    color: #097C25
}

.digi,.digi-down,.digi-up,.fundlist span,.numeric,.numeric-down,.numeric-up,.table-data span {
    font-family: Arial;
    font-weight: 700
}

.ico-chanel,.icon-change-down,.icon-change-up,.icon-clock,.icon-plus {
    background: url(../../img/east/elems.png) no-repeat
}

.icon-change-down,.icon-change-up {
    display: inline-block;
    width: 11px;
    height: 10px;
    overflow: hidden
}

.icon-change-up {
    background-position: -230px -40px
}

.icon-change-down {
    background-position: -242px -40px
}

.icon-plus {
    display: block;
    width: 12px;
    height: 12px;
    overflow: hidden;
    background-position: -230px -51px
}

.icon-clock {
    width: 14px;
    height: 14px;
    display: inline-block;
    background-position: -11px 0;
    overflow: hidden;
    vertical-align: middle
}

.ico-chanel {
    background-position: -240px -86px;
    padding-left: 20px;
    float: left
}

.ico-chanel a {
    font-size: 12px
}

.warpper-border {
    border: 1px solid #bbd4e8
}

.space-10 {
    height: 10px;
    clear: both;
    width: 100%;
    overflow: hidden
}

.space-5 {
    height: 5px;
    clear: both;
    width: 100%;
    overflow: hidden
}

.bg {
    background-color: #f5f5f5
}

.tab-panels .tab-panel {
    display: none
}

.tab-panels .current {
    display: block
}

.bg-white {
    background-color: #fff
}

.loading {
    width: 100%;
    text-align: center
}

.gridview .loading {
    margin-top: 50px;
    margin-bottom: 50px
}

.bg-th {
    background-color: #EBF6FF
}

.btn-bigimg,.btn-favor,.btn-gubar,.btn-hot,.btn-login,.btn-plus,.btn-query,.btn-refresh,.btn-reg {
    vertical-align: bottom;
    background: url(../../img/east/elems.png) no-repeat
}

.btn-hot {
    background-position: -210px -64px;
    float: left;
    width: 48px;
    height: 19px;
    margin-right: -1px;
    background-color: #fff;
    position: relative
}

.btn-favor,.btn-refresh {
    display: inline-block;
    width: 81px;
    height: 21px;
    border: none
}

.btn-refresh {
    background-position: -35px -40px
}

.btn-refresh.red {
    background-position: -35px -110px
}

.btn-favor {
    background-position: -121px -40px
}

.btn-login,.btn-query,.btn-reg {
    display: inline-block;
    width: 55px;
    height: 22px;
    vertical-align: middle
}

.btn-login {
    background-position: -97px -64px
}

.btn-reg {
    background-position: -153px -64px
}

.btn-query {
    border: none;
    background-position: -35px -87px;
    cursor: pointer
}

.btn-bigimg,.btn-gubar,.btn-plus {
    display: inline-block;
    width: 61px;
    height: 21px
}

.btn-bigimg {
    background-position: -35px -64px
}

.btn-gubar {
    background-position: -91px -87px
}

.btn-plus {
    background-position: -153px -87px
}

.mod-section-content {
    width: 1100px;
    overflow: hidden
}

.mod-section-header {
    position: relative;
    height: 37px;
    line-height: 37px
}

.mod-section-header {
    background: url(../../img/east/core.png) repeat-x
}

.mod-section-header .brendnav {
    padding-left: 15px;
    float: left
}

.mod-section-header h2 {
    padding-left: 29px;
    font-size: 14px;
    line-height: 34px
}

.mod-section-header .innerbox {
    float: left;
    padding-left: 29px
}

.mod-section-header .icon-section-header,.mod-section-header .tabs li {
    background: url(../../img/east/elems.png) no-repeat
}

.mod-section-header .tabs1 li {
    background: url(../../img/east/core.png) repeat-x
}

.mod-section-header .icon-section-header {
    position: absolute;
    top: 11px;
    left: 13px;
    height: 11px;
    width: 8px;
    background-position: 0 0
}

.mod-section-header .tabs {
    margin-left: 30px;
    font-size: 14px
}

.mod-section-header .tabs li {
    float: left;
    cursor: pointer;
    margin-right: 5px;
    width: 109px;
    height: 37px;
    text-align: center;
    background-position: -35px 0
}

.mod-section-header .tabs .current {
    font-weight: 700;
    background-position: -149px 0
}

.mod-section-header .tabs1 {
    font-size: 14px
}

.mod-section-header .tabs1 li {
    float: left;
    cursor: pointer;
    margin-right: 5px;
    height: 34px;
    overflow: hidden;
    text-align: center;
    background-position: 0 -104px;
    border-left: 1px solid #C8C8C8;
    border-top: 1px solid #C8C8C8;
    border-right: 1px solid #C8C8C8
}

.mod-section-header .tabs1 li span {
    margin: 0 5px 0 5px
}

.mod-section-header .tabs1 .current {
    font-weight: 700;
    background-image: none;
    background-color: #fff;
    border-top: 1px solid #4E7896;
    border-left: 1px solid #4E7896;
    border-right: 1px solid #4E7896;
    border-bottom: 1px solid #fff
}

.mod-section-header .options {
    padding-right: 12px
}

.mod-section-header .btn-refresh {
    position: absolute;
    top: 7px;
    right: 11px
}

.mod-section-header .btn-favor {
    position: absolute;
    top: 7px;
    right: 11px;
    display: none
}

.mod-section-header .inner-box {
    padding-right: 170px;
    text-align: right
}

.mod-section-header .form {
    margin-top: -2px
}

.mod-section-header .form select {
    vertical-align: middle
}

.mod-section-sub {
    height: 36px;
    line-height: 36px;
    overflow: hidden
}

.mod-section-sub .tabs {
    margin-left: 0
}

.mod-section-sub .tabs li {
    height: 36px
}

.mod-section-sub .tabs .current {
    border: 1px solid #4e7896;
    border-bottom: none;
    height: 36px;
    background: 0 0;
    background-color: #fff
}

.mod-section-sub .links {
    float: left;
    padding-left: 45px
}

.mod-section-sub .links a {
    margin-right: 15px
}

.mod-item {
    width: 355px;
    float: left;
    margin-right: 10px
}

.mod-item h4 a {
    color: #444
}

.mod-item .item-header {
    background: url(../../img/east/core.png) repeat-x
}

.mod-item .item-header {
    height: 36px;
    overflow: hidden
}

.mod-item .item-header h4 {
    padding-left: 16px;
    font-size: 14px;
    line-height: 36px
}

.mod-item .item-header .h4-select {
    margin-top: -28px;
    text-align: right;
    margin-right: 12px
}

.mod-item .item-header .more {
    padding-right: 12px;
    line-height: 35px;
    float: right
}

.mod-item .item-content {
    background: url(http://g1.dfcfw.com/g1/img2011/progress.gif) no-repeat center
}

.mod-item .item-content {
    border: 1px solid #bbd4e8;
    text-align: center
}

.mod-item .item-content .buttons {
    padding-bottom: 5px
}

.mod-item .img-text {
    width: 240px;
    height: 38px;
    margin: 0 auto;
    overflow: hidden;
    text-align: left
}

.mod-item .img-text dt {
    float: left;
    height: 38px;
    margin-right: 10px
}

.mod-item .name {
    margin-right: 8px;
    display: inline-block;
    width: 55px
}

.mod-item .img-text span {
    display: inline-block
}

.mod-item .img-text .s1 {
    width: 45px
}

.mod-datas th a {
    color: #003497
}

.mod-datas .data-table,.table-data {
    border-collapse: collapse;
    border: 1px solid #bbd4e8
}

.mod-datas .collapse-top {
    border-top-style: hidden
}

.mod-datas .data-table td,.table-data td {
    height: 26px;
    border: 1px solid #bbd4e8;
    text-align: center
}

.mod-datas .data-table td span {
    font-family: Arial;
    font-weight: 700
}

.mod-datas .data-table th,.table-data th {
    height: 34px;
    border: 1px solid #bbd4e8;
    text-align: center;
    background-color: #ebf6ff
}

.mod-datas .data-table .txt-left,.table-data .txt-left {
    text-align: left;
    padding-left: 10px
}

.mod-datas .footer-more {
    padding-right: 11px;
    border: 1px solid #bbd4e8;
    border-top: none;
    line-height: 26px;
    text-align: right
}

.mod-datas .icon-plus {
    margin: 0 auto
}

.mod-datas .open-state {
    vertical-align: middle;
    margin-right: 3px
}

.mod-datas .open-state+a {
    vertical-align: middle
}

.mod-datas .collapse-top {
    border-top-style: hidden
}

.mod-datas .data-table1 {
    border-collapse: collapse;
    border: 1px solid #bbd4e8
}

.mod-datas .data-table1 td {
    line-height: 23px;
    border: 1px solid #bbd4e8;
    text-align: center
}

.mod-datas .data-table1 th {
    line-height: 29px;
    border: 1px solid #bbd4e8;
    text-align: center;
    background-color: #ebf6ff
}

.mod-datas .data-hgt {
    border-collapse: collapse;
    border: 1px solid #bbd4e8;
    height: 149px
}

.mod-datas .data-hgt .htox {
    height: 70px
}

.mod-datas .data-hgt .gtox {
    height: 70px;
    border-top: 1px solid #bbd4e8;
    clear: both;
    padding-top: 2px
}

.mod-datas .data-hgt .hgtit {
    float: left;
    width: 70px;
    text-align: center;
    font-size: 14px;
    padding-top: 26px
}

.mod-datas .data-hgt .hgtit a {
    color: #003497
}

.mod-datas .data-hgt .hgtcnt {
    float: left;
    width: 192px;
    line-height: 24px
}

.mod-datas .data-hgt .hgtcnt b {
    padding-left: 5px;
    padding-right: 3px
}

.mod-datas .data-hgt .hgtcnt .grap {
    color: #999
}

.mod-sidemenu {
    position: relative;
    z-index: 99
}

.mod-sidemenu a {
    text-decoration: none
}

.mod-sidemenu a:link {
    color: #444
}

.mod-sidemenu a:visited {
    color: #444
}

.mod-sidemenu a:hover {
    color: red;
    text-decoration: none
}

.mod-sidemenu a:foucs {
    outline: 0
}

.mod-sidemenu dt a {
    outline: 0
}

.mod-sidemenu dt a:link,.mod-sidemenu dt a:visited {
    color: #fff;
    text-decoration: none
}

.mod-sidemenu dt a:hover {
    color: #fff
}

.mod-sidemenu .bd .external-link,.mod-sidemenu .hd,.mod-sidemenu .icon-hot,.mod-sidemenu .icon-right,.mod-sidemenu .icon-section,.mod-sidemenu .icon-sub-title,.mod-sidemenu .node-section,.mod-sidemenu .node-section .node-item,.mod-sidemenu .node-section .node-sub-sub,.mod-sidemenu .node-section .node-sub-title,.mod-sidemenu .node-section dt,.mod-sidemenu .sidemenu-footer {
    background: url(../images/sidemenu.png) no-repeat
}

.mod-sidemenu .icon-section {
    margin: 6px 15px 0 0;
    width: 12px;
    height: 12px;
    overflow: hidden
}

.mod-sidemenu .icon-section {
    background-position: -46px -97px
}

.mod-sidemenu .icon-hot {
    display: inline-block;
    width: 18px;
    height: 10px;
    background-position: -15px -97px
}

.mod-sidemenu .icon-right {
    float: right;
    margin: 8px 5px 0 0;
    width: 9px;
    height: 7px;
    background-position: -35px -97px
}

.mod-sidemenu .icon-sub-title {
    margin-right: 3px;
    width: 9px;
    height: 9px;
    display: inline-block
}

.mod-sidemenu .hd {
    height: 44px
}

.mod-sidemenu .hd h1 {
    text-indent: -9999px;
    overflow: hidden
}

.mod-sidemenu .hd h1 a {
    display: block;
    height: 32px
}

.mod-sidemenu .bd {
    padding-bottom: 5px;
    border: 2px solid #99badd;
    border-top: none;
    line-height: 26px;
    background-color: #d8e9f6
}

.mod-sidemenu .node-section {
    padding-top: 5px;
    background: 0 0;
    background-color: #d8e9f6
}

.mod-sidemenu .js-section-open dt {
    margin-bottom: 5px
}

.mod-sidemenu .bd .external-link,.mod-sidemenu .node-section dt {
    display: block;
    padding-left: 17px;
    height: 26px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    background-position: -2px -44px
}

.mod-sidemenu .bd .external-link:hover {
    color: #fff;
    text-decoration: none
}

.mod-sidemenu .node-section .node-item,.mod-sidemenu .node-section .node-sub-sub {
    padding-left: 17px;
    height: 26px;
    background-position: -2px -70px
}

.mod-sidemenu .node-item {
    display: block;
    cursor: pointer
}

.mod-sidemenu .node-item-current {
    padding-left: 17px;
    font-weight: 700;
    display: block;
    height: 26px
}

.mod-sidemenu .node-section .node-sub-sub,.mod-sidemenu .node-section .node-sub-sub-hover {
    padding-left: 42px
}

.mod-sidemenu .node-item-current,.mod-sidemenu .node-sub-sub-hover {
    border: 2px solid #99badd;
    margin-top: -1px;
    padding-top: 1px;
    border-left-width: 0;
    border-right-width: 0;
    background-color: #fff
}

.mod-sidemenu .node-sub-sub-hover {
    position: relative;
    height: 22px;
    line-height: 22px
}

.mod-sidemenu .node-sub-sub-hover .icon-right {
    display: none
}

.mod-sidemenu .hover-pop {
    display: none;
    position: absolute;
    border: 2px solid #99badd;
    left: 171px;
    top: -2px;
    background-color: #fff
}

.mod-sidemenu .hover-pop.notion {
    height: 450px;
    overflow: auto
}

.mod-sidemenu .spell {
    position: relative;
    float: left;
    width: 15px;
    margin-left: -15px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 700
}

.mod-sidemenu .hover-pop {
    padding: 0 10px 0 0;
    overflow: hidden;
    width: 100%
}

.mod-sidemenu .hover-pop .ul-col {
    float: left;
    margin-right: 10px
}

.mod-sidemenu .ul-col .letter {
    float: left;
    margin-right: 5px;
    width: 21px;
    height: 22px;
    text-align: center;
    overflow: hidden;
    background-color: #F0F0F0;
    font-family: Arial;
    font-weight: 700
}

.mod-sidemenu .ul-col li {
    line-height: 22px;
    width: 98px
}

.mod-sidemenu .node-sub-sub-hover .hover-mask,.mod-sidemenu .node-sub-sub-hover .hover-pop {
    display: block;
    z-index: 1000
}

.mod-sidemenu .hover-mask {
    display: none;
    position: absolute;
    left: 171px;
    top: 0;
    height: 23px;
    width: 2px;
    background-color: #fff
}

.mod-sidemenu .node-section dd {
    display: none
}

.mod-sidemenu .sidemenu-footer {
    height: 5px;
    overflow: hidden;
    background-position: -2px -70px
}

.mod-sidemenu .col-4 {
    width: 440px
}

.mod-sidemenu .col-2 {
    width: 220px
}

.mod-sidemenu .col-3 {
    width: 330px
}

.mod-sidemenu .col-5 {
    width: 545px
}

.mod-sidemenu .col-6 {
    width: 800px
}

.mod-sidemenu .col-7 {
    width: 770px
}

.mod-sidemenu .sub-items {
    display: none
}

.mod-sidemenu .sub-items .node-item,.mod-sidemenu .sub-items .node-item-current {
    padding-left: 30px
}

.mod-sidemenu .icon-sub-title {
    background: url(../images/icon-puls.png) no-repeat
}

.mod-sidemenu .js-sub-open .icon-sub-title {
    background: url(../images/sidemenu.png) no-repeat;
    background-position: -2px -121px
}

.mod-sidemenu .js-sub-open .sub-items {
    display: block
}

.mod-sidemenu .js-section-open dd {
    display: block
}

.mod-sidemenu .js-section-open .icon-section {
    background-position: -2px -97px
}

.mod-sidemenu .node-sub-sub-hover {
    top: -1px\9;
    margin-top: 0\9;
    margin-bottom: -1px\9
}

.mod-pagenav {
    padding: 1px;
    text-align: center
}

.mod-pagenav .go {
    background: url(../../img/east/elems.png) no-repeat
}

.mod-pagenav a,.mod-pagenav span {
    border: 1px solid #a7bacb;
    margin-right: 4px;
    padding: 2px 6px;
    text-decoration: none
}

.mod-pagenav .disable {
    border: 1px solid #ddd
}

.mod-pagenav .current {
    border: 1px solid #38628b;
    color: #fff;
    background-color: #38628b
}

.mod-pagenav .num {
    width: 24px;
    height: 16px;
    border: 1px solid #a5a5a5
}

.mod-pagenav .go {
    display: inline-block;
    border: none;
    height: 18px;
    width: 26px;
    cursor: pointer;
    vertical-align: middle;
    background-position: -202px -40px
}

.mod-list-ul {
    border: 1px solid #bbd4e8;
    margin-top: -1px;
    overflow: hidden;
    padding: 5px 0 5px 5px
}

.mod-list-ul li {
    float: left;
    margin-left: 22px;
    text-align: center;
    width: 340px
}

.mod-list-ul .buttons {
    padding: 5px 0 5px 0
}

.mod-list-ul {
    zoom:1}

.mod-msg {
    height: 34px;
    border: 1px solid #bbd4e8;
    overflow: hidden;
    line-height: 34px
}

.mod-msg,.mod-msg h2 {
    background: url(../../img/east/core.png) repeat-x
}

.mod-msg {
    background-position: 0 -38px
}

.mod-msg h2 {
    float: left;
    padding: 0 15px;
    border-right: 1px solid #bbd4e8;
    font-size: 14px
}

.mod-msg .msg-content {
    width: 1000px;
    overflow: hidden;
    padding-left: 2px
}

.mod-msg .msg-content .links {
    overflow: hidden;
    padding-left: 4px
}

.mod-msg .msg-content .links a {
    padding: 0 10px;
    border-right: 1px solid #bbd4e8;
    text-decoration: underline
}

.mod-msg h2 {
+vertical-align: top
}

.mod-top-wrap {
    height: 42px;
    border: 1px solid #bbd4e8
}

.mod-top {
    float: left;
    margin-left: 18px;
    margin-top: 5px;
    width: 386px;
    line-height: 14px
}

.mod-top a {
    margin-right: 5px
}

.mod-top dt {
    float: left;
    font-weight: 700
}

.mod-top dd {
    padding-left: 30px
}

.mod-top-footer {
    background: url(../../img/east/core.png) repeat-x
}

.mod-top-footer {
    height: 33px;
    line-height: 33px;
    border: 1px solid #bbd4e8;
    border-top: none;
    background-position: 0 -72px
}

.mod-top-footer .form select {
    vertical-align: middle
}

.mod-top-footer .form {
    padding-right: 12px
}

#tui {
    height: 19px;
    line-height: 19px;
    overflow: hidden;
    margin-bottom: 5px
}

#tui a,#tuiguang a {
    border-left: 1px solid #666;
    padding: 0 10px
}

#hottoday .item-content {
    height: 173px
}

#bklistheader img {
    margin: 17px 0
}

.worldtime {
    margin-left: 10px;
    overflow: hidden
}

.worldtime li {
    float: left;
    margin-right: 25px
}

.worldtime .icon-clock {
    margin-top: -3px;
    margin-right: 3px
}

#bklistheader {
    display: none
}

#v1,#v2,.mod-section-header .select {
    display: none
}

#picview .select {
    visibility: hidden
}

.module-0-2 #bklistheader,.module-12-2 #bklistheader,.module-5-3 #bklistheader {
    display: block
}

.module-0 #v1,.module-0 #v2,.module-0 .select,.module-0-2 #v1,.module-0-2 #v2,.module-0-2 .select,.module-11-0 #v1,.module-11-0 #v2,.module-11-0 .select,.module-12-2 #v1,.module-12-2 #v2,.module-12-2 .select,.module-21-0 #v1,.module-21-0 #v2,.module-21-0 .select {
    display: inline-block
}

.bgutip {
    display: none
}

.module-0-4 .bgutip,.module-1-0 .bgutip,.module-10-0 .bgutip,.module-11-0 .bgutip,.module-21-0 .bgutip {
    display: block
}

.table-fund .bg-th a {
    text-decoration: none
}

#search-fund {
    height: 30px;
    line-height: 30px;
    overflow: visible
}

#search-fund,#search-fund .form-wrap {
    background: url(http://hqres.eastmoney.com/EMQuote_Lib/img/publicbg.png) repeat-x scroll 0 -93px transparent
}

#search-fund .links {
    padding-left: 4px;
    overflow: hidden;
    float: left;
    margin-right: -1px
}

#search-fund a {
    padding: 0 10px;
    border-right: 1px solid #7f7f7f
}

#search-fund .form-wrap {
    height: 30px;
    float: left;
    padding-left: 45px
}

#search-fund .sform {
    top: 4px
}

#search-fund .sform table {
    width: 100%
}

#search-fund .suggest {
    left: -164px
}

.hide {
    display: none
}

.sform {
    float: left;
    position: relative;
    top: 5px;
    z-index: 2
}

.sform .suggest {
    position: absolute;
    top: 24px;
    z-index: 999;
    width: 473px;
    padding: 5px;
    border: 1px solid #bfbfbf;
    background-color: #fff
}

.sform .suggest ul {
    height: 22px;
    background: url(http://fund.eastmoney.com/images/bg20110411.gif) repeat-x scroll 0 -357px transparent
}

.sform .suggest li {
    display: inline;
    float: left;
    margin-left: 3px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    padding: 0 5px;
    border: 1px solid #529dd6;
    background-color: #bbd6eb;
    cursor: pointer
}

.sform .suggest li.at {
    background-color: #fff;
    border-bottom: 1px solid #fff
}

.sform .suggest ul label {
    display: inline;
    float: right;
    font-size: 12px;
    cursor: pointer
}

.sform .suggest td,.sform .suggest th {
    text-align: center;
    height: 20px;
    line-height: 20px;
    vertical-align: middle
}

.sform .suggest th {
    height: 25px;
    line-height: 25px;
    background-color: #F1F1F3
}

.sform .suggest .dm {
    width: 50px
}

.sform .suggest .dm label {
    margin-right: 2px
}

.sform .suggest .py {
    width: 80px
}

.sform .suggest .jc {
    text-align: left
}

.sform .suggest th.jc {
    padding-left: 20px
}

.suggest th.jc label {
    font-weight: 400;
    padding-left: 30px
}

.sform .suggest .lists {
    margin: 5px 0
}

.sform .suggest h4 {
    margin: 5px 0 0 10px;
    font-weight: 400;
    font-size: 12px
}

.sform .suggest dl {
    margin: 5px 0 0
}

.sform .suggest dt {
    display: block;
    float: left;
    padding: 3px;
    color: Red
}

.sform .suggest dd {
    margin-left: 10px;
    overflow: hidden;
    zoom:1;line-height: 1
}

.sform .suggest dd span {
    float: left;
    text-indent: 0;
    width: 75px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    cursor: pointer
}

.sform .suggest dd span.hover {
    background-color: #bbd6eb;
    color: #000
}

.sform span {
    display: inline;
    float: left;
    height: 23px;
    line-height: 23px;
    vertical-align: middle;
    overflow: hidden;
    margin: 0 11px 0 0
}

.sform span.sinput {
    border: 1px solid #a3a3a3;
    width: 168px;
    height: 21px
}

.sform b,.sform input {
    float: left
}

.sform input {
    border: 0 solid #bfbfbf;
    width: 140px;
    margin: 0;
    padding: 4px 0 0 5px;
    line-height: 15px
}

.sform b.cx {
    border-left: 1px solid #bfbfbf;
    width: 21px;
    height: 21px;
    background: url(http://fund.eastmoney.com/images/icos20110411.gif) no-repeat scroll -74px 0 transparent;
    cursor: pointer
}

.sform b.hq,.sform b.jb,.sform b.sc,.sform b.zx {
    float: left;
    background: url(http://fund.eastmoney.com/images/btns20110411.gif) no-repeat scroll 0 0 transparent;
    cursor: pointer
}

.sform b.hq {
    width: 55px;
    height: 23px;
    float: left;
    background-position: 0 -244px
}

.sform b.jb {
    width: 55px;
    height: 23px;
    float: left;
    background-position: 0 -268px
}

.sform b.zx {
    width: 55px;
    height: 23px;
    float: left;
    background-position: 0 -292px
}

.sform b.sc {
    width: 78px;
    height: 23px;
    float: left;
    background-position: 0 -316px
}

.vm-list,.vm-list-gray,.vm-pic,.vm-pic-gray {
    background: url(../../img/east/elems.png) no-repeat
}

.vm {
    width: 16px;
    height: 16px;
    float: left;
    margin: 11px 5px 0 0
}

.vm-list {
    background-position: -18px -37px
}

.vm-pic {
    background-position: -18px -19px
}

body#gridview .vm-list {
    background-position: 0 -19px
}

body#picview .vm-pic {
    background-position: 0 -37px
}

.red_link ul li a {
    color: red;
    display: block
}

.select select {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    height: 21px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 5px
}

.mod-section-header .inner-box .views {
    zoom:1;height: 38px;
    line-height: 38px
}

.mod-sidemenu .node-item-current,.mod-sidemenu .node-section .node-item {
    padding-left: 0
}

.mod-sidemenu .node-item-current {
    position: relative
}

.mod-sidemenu .sub-items .node-item,.mod-sidemenu .sub-items .node-item-current {
    padding-left: 0;
    vertical-align: bottom
}

.mod-sidemenu .node-item a,.mod-sidemenu .node-item-current a {
    display: block;
    padding-left: 17px;
    outline: 0;
    zoom:1;overflow: hidden
}

.mod-sidemenu .text {
    float: left
}

.mod-sidemenu .hover-pop .text {
    float: none
}

.js-sub,.js-sub-open {
    position: relative
}

.mod-sidemenu .icon-sub-title {
    position: absolute;
    left: 17px;
    top: 8px
}

.js-sub .node-item a,.js-sub .node-item-current a,.js-sub-open .node-item a,.js-sub-open .node-item-current a {
    padding-left: 29px
}

.mod-sidemenu .icon-hot {
    float: left;
    margin-left: 3px;
    display: inline;
    margin-top: 7px
}

.mod-sidemenu dt a {
    height: 26px;
    display: block
}

.mod-sidemenu .icon-section {
    margin-top: -20px
}

a.jjad150526 {
    color: red
}

a.jjad150526:hover {
    color: #ff4901;
    text-decoration: underline
}

.fn-left a.jjad150526 {
    margin-left: 20px
}
