<div class="nav-action">
    <a href="javascript:void(0);" class="nav-toggle"><i class="fa fa-reorder"></i></a>
    <dl class="nav-list">
        <dt class="nav-list-title"><i class="fa fa-minus"></i> 交易管理</dt>
        <dd class="nav-list-body">
            <a href="${base}/taskpub/pub" target="pubpage">快速发布项目</a>
            <a href="${base}/owner/mytask">我发布的项目</a>
			<a href="${base}/owner/mytask">我购买的项目</a>
            <!--
            <a href="${base}/owner/constract">交易支付</a>
            <a href="javascript:void(0)">交易评价</a>
            -->
        </dd>
        <!--
        <dt class="nav-list-title"><i class="fa fa-minus"></i> 我的收藏</dt>
        <dd class="nav-list-body">
            <a href="index.php?do=user&amp;view=collect&amp;op=goods">我收藏的商品</a>
            <a href="index.php?do=user&amp;view=collect&amp;op=work">我收藏的任务</a>
        </dd>
        -->
    </dl>
</div>