<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
<head>
    #parse("system/component/global-macro.html")
    #parse("system/component/header-wrapper.html")
</head>
<body>
#parse("system/component/body-wrapper.html")

<section class="main">
    <div id="divMain">
        <div class="divHeader"
             style="padding-left: 38px; background: transparent url('/system/image/common/tag_32.png') no-repeat scroll 3px 9px / 32px auto;">
            $!title
        </div>
        <div class="SubMenu" style="display: block;"><a href="/system/management/tag-add.html?type=show"><span
                class="m-left">新建标签</span></a></div>
        <div id="divMain2">
            <table border="1" class="tableFull tableBorder tableBorder-thcenter">
                <tbody>
                <tr class="color1">
                    <th>ID</th>
                    <th>名称</th>
                    <th>别名</th>
                    <th>文章数量</th>
                    <th>操作</th>
                </tr>
                #foreach($model in $models)
                <tr>
                    <td class="td5">$!model.id</td>
                    <td class="td25"><a href="/system/management/tag-edit.html?id=$!model.id&type=show" target="_blank">
                        <img src="/system/image/admin/link.png" alt="" title="" width="16"/></a> $!model.name
                    </td>
                    <td class="td20">$!model.alias</td>
                    <td class="td10">$!model.count</td>
                    <td class="td10 tdCenter">
                        <a href="/system/management/tag-edit.html?id=$!model.id&type=show">
                            <img src="/system/image/admin/tag_blue_edit.png" alt="编辑" title="编辑" width="16"/>
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/system/management/tag-remove.html?id=$!model.id"
                           onclick="return window.confirm('单击“确定”继续。单击“取消”停止。');">
                            <img src="/system/image/admin/delete.png" alt="删除" title="删除" width="16"/></a>
                    </td>
                </tr>
                #end
                </tbody>
            </table>
            #pagebar("tag",$page)
        </div>
    </div>
</section>
#parse("system/component/footer-wrapper.html")
</body>
</html>