<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
<head>
    #parse("system/component/global-macro.html")
    #parse("system/component/header-wrapper.html")
</head>
<body>
#parse("system/component/body-wrapper.html")

<section class="main">
    <div id="divMain">
        <div class="divHeader" style="padding-left: 38px; background: transparent url('/system/image/common/user_32.png') no-repeat scroll 3px 9px / 32px auto;">用户管理</div>
        <div class="SubMenu" style="display: block;">
            <a href="/system/management/user-add.html?type=show"><span class="m-left">新建用户</span></a>
        </div>
        <div id="divMain2">
            <table border="1" class="tableFull tableBorder tableBorder-thcenter">
                <tbody>
                <tr class="color1">
                    <th>ID</th><th>用户级别</th><th>名称</th><th>别名</th><th>文章总数</th><th>页面总数</th><th>评论总数</th><th>附件总数</th><th>操作</th>
                </tr>
                #foreach($model in $models)
                <tr class="color3">
                    <td class="td5">$!model.id</td>
                    <td class="td10">$!model.sort</td>
                    <td><a target="_blank" href="/system/management/user-edit.html?id=$!model.id&type=show" class="button">
                        <img width="16" src="/system/image/admin/link.png"></a>
                        $!model.name
                    </td>
                    <td class="td15">$!model.alias</td>
                    <td class="td10">$!model.articles</td>
                    <td class="td10">$!model.pages</td>
                    <td class="td10">$!model.comments</td>
                    <td class="td10">$!model.uploads</td>
                    <td class="td10 tdCenter">
                        <a href="/system/management/user-edit.html?id=$!model.id&type=show" class="button"><img width="16" title="编辑" alt="编辑" src="/system/image/admin/user_edit.png"></a>
                        <a href="/system/management/user-remove.html?id=$!model.id" onclick="return window.confirm('单击“确定”继续。单击“取消”停止。');">
                            <img src="/system/image/admin/delete.png" alt="删除" title="删除" width="16">
                        </a>
                    </td>
                </tr>
                #end
                </tbody>
            </table>
            #pagebar("user",$page)
        </div>
    </div>
</section>
#parse("system/component/footer-wrapper.html")
</body>
</html>