#parse("includes/header_home.vm")
<link href="${base}/static/css/style.css" rel="stylesheet" type="text/css">
<div class="container">
<div id="main">
  <div class="release">
		<div class="release-progress">
			#parse("task/publish/gcsj/task-step.vm")
    	</div>
    <!-- release-progress end-->
    <div class="release-body">
		<!-- release-help end  -->
		<!-- 加载各任务对应步骤  -->
		<div class="release-form">
			<form class="form-horizontal" role="form" action="${base}/taskpub/pubsubmit" method="post" id="pubTaskFormstep2" name="pubTaskFormstep2" novalidate="novalidate">
				<input type="hidden" name="step" value="$!taskstep">
				<input type="hidden" name="usrType" value="$!usrType">
				<div class="form-group">
					<label class="col-sm-3 control-label">
						类目选择
						<span class="text-danger">:</span>
					</label>
					<div class="col-sm-4">
						<select class="form-control" name="indusPid" id="indus_pid" onchange="getIndustry(this.value,'indus_id', false);">
							#foreach($!industy in $!industies)
							<option #if($!indusPid == $!industy.id) selected="selected" #end value="$!industy.id">$!industy.indusName</option>
							#end
						</select>
					</div>
					<div class="col-sm-3">
						<select class="form-control" name="indusId" id="indus_id">
							#foreach($!industy in $!industChildren)
							<option #if($!model.indusId == $!industy.id) selected="selected" #end value="$!industy.id">$!industy.indusName</option>
							#end
						</select>
					</div>
					<div class="col-sm-offset-2 col-sm-8">
						<span class="help-block"></span>
					</div>
				<!-- 行业分类 end -->
				<div class="form-group">
					<label for="txt_title" class="col-sm-3 control-label">
						需求简短描述
						<span class="text-danger">*</span>
					</label>
					<div class="col-sm-7">
						<input type="text" class="form-control placeholder" id="txt_title" name="taskTitle" value="$!model.taskTitle" placeholder="一句话描述需求">
					</div>
				</div>
				<!-- 标题名称 end -->
				<div class="form-group">
					<label for="tar_content" class="col-sm-3 control-label">
						需求描述
					</label>
					<div class="col-sm-7">
						<textarea id="tar_content" name="taskDesc" placeholder="需求描述">$!model.taskDesc</textarea>
					</div>
					<script type="text/javascript" src="${base}/static/js/ueditor/ueditor.config.js"></script>
					<!-- 编辑器源码文件 -->
					<script type="text/javascript" src="${base}/static/js/ueditor/ueditor.all.min.js"></script>
					<script type="text/javascript" src="${base}/static/js/ueditor/lang/zh-cn/zh-cn.js"></script>
					<!-- 实例化编辑器 -->
					<script type="text/javascript">
						//这里可以选择自己需要的工具按钮名称,此处仅选择如下五个
						var ue = UE.getEditor('tar_content', {
							initialFrameWidth : '100%',
							initialFrameHeight : '200',
							elementPathEnabled:false,
							wordCount:false
						});
					</script>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">
						资质要求
						<span class="text-danger">:</span>
					</label>
					<div class="col-sm-3">
						<select class="form-control" name="zzyq">
							#foreach($!dict in $!zzyqdict)
							<option #if($!model.zzyq == $!dict.value) selected="selected" #end value="$!dict.value">$!dict.content</option>
							#end
						</select>
					</div>
					<label class="col-sm-1 control-label">
						业绩要求
						<span class="text-danger">:</span>
					</label>
					<div class="col-sm-3">
						<select class="form-control" name="yjyq">
							#foreach($!dict in $!yjyqdict)
							<option #if($!model.yjyq == $!dict.value) selected="selected" #end value="$!dict.value">$!dict.content</option>
							#end
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="txt_mobile" class="col-sm-3 control-label">
						投标截止日期
						<span class="text-danger">*</span>
					</label>
					<div class="col-sm-3">
						<input type="text" name="subTime" readonly="readonly" value="$!model.subTime" data-date-format="yyyy-mm-dd HH:mm" class="form-control form_datetime" placeholder="投标截止日期">
						<script src="${base}/static/js/bootstrap-datetimepicker.zh-CN.js"></script>
						<script type="text/javascript">
						    $(".form_datetime").datetimepicker({
						        format: "yyyy-mm-dd hh:ii",
						        showMeridian: true,
						        autoclose: true,
						        todayBtn: true,
						        language: "zh-CN"
						    });
						</script>      
					</div>
					<label for="txt_mobile" class="col-sm-1 control-label">
						任务周期
						<span class="text-danger">*</span>
					</label>
					<div class="col-sm-3">
						<input type="text" name="endTime" readonly="readonly" value="$!model.endTime" data-date-format="yyyy-mm-dd HH:mm" class="form-control form_datetime" placeholder="任务周期">
						<script type="text/javascript">
						    $(".form_datetime").datetimepicker({
						        format: "yyyy-mm-dd hh:ii",
						        showMeridian: true,
						        autoclose: true,
						        todayBtn: true,
						        language: "zh-CN"
						    });
						</script>      
					</div>
				</div>
				<!-- 手机号码 end -->
				<!-- 需求描述 end -->
				<div class="form-group">
					<label for="upload" class="col-sm-3 control-label">上传附件</label>
					<div class="col-sm-4">
					<p class="form-control-static">
						<input type="file" id="upload" name="upload">
						<input type="hidden" name="file_ids" id="fileid" class="form-control" value="">
					</p>
				</div>
				<div class="col-sm-4">
					<p class="form-control-static">最多5个附件，每个附件不得超过2M。</p>
				</div>
				<script src="$!{base}/static/js/uploadify/jquery.uploadify.min.js?r=0.01708000" type="text/javascript"></script>
				<link href="$!{base}/static/js/uploadify/uploadify.css" rel="stylesheet">
				<script type="text/javascript">
					$(function() {
						setTimeout(function() {
							uploadify({
								swf : "$!{base}/static/js/uploadify/uploadify.swf",
								debug:false,
								text : '上传附件',
								auto : true,
								hide : false,
								exts : '*.pdf;*.doc;*.docx;*.xls;*.xlsx;*.ppt;*.wps;*.zip;*.rar;*.txt;*.jpg;*.jpeg;*.gif;*.bmp;*.swf;*.png;*.lsp;*.mp3',
								size : "5MB",
								limit : 5,
								uploader:"$!{base}/taskpub/upload?random="+Math.random(),
								deleter:"$!{base}/taskpub/deleteFile?random="+Math.random()+"&objType=task"
							}, {
								objType : 'task',
								sessionId:sessionId
							}, uploadResponse);
						}, 500);
					});
					
					function uploadResponse(json) {
						
					}
				</script>
				</div>
				<!-- 上传附件 end -->
				<div class="form-group ">
					<div class="col-sm-offset-3 col-sm-6">
						<ul class="affix-list" id="fileList">
							#foreach($file in $attaches)
								#if($!file)
									<li class="affix-list-item">$file.fileName &nbsp;<a href="javascript:void(0)" onclick="removeFile(this, '$file.id');">删除</a></li>
								#end
							#end
						</ul>
					</div>
				</div>
				<!-- 任务截止日期 -->
				<div class="form-group">
					<label for="txt_mobile" class="col-sm-3 control-label">
						联系人
						<span class="text-danger">*</span>
					</label>
					<div class="col-sm-3">
						<input type="text" class="form-control placeholder" id="txt_contactor" name="contactor" #if($model.contactor) value="$!model.contactor" #else value="$!auth.name" #end placeholder="联系人">
					</div>
					<label for="txt_mobile" class="col-sm-1 control-label">
						联系方式
						<span class="text-danger">*</span>
					</label>
					<div class="col-sm-3">
						<input type="text" class="form-control placeholder" id="txt_mobile" name="contact" #if($model.contact) value="$!model.contact" #else value="$!auth.mobile" #end placeholder="联系方式">
					</div>
				</div>
				<!-- 手机号码 end -->
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-6">
						<button type="submit" class="btn btn-primary" value="下一步" onclick="return isAgreementChecked();">下一步</button>
						<span class="text-danger hidden" id="pubAgreementTips">请同意《发布协议》</span>
					</div>
				</div>
				<!-- form-group end -->
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-6">
						<div class="checkbox">
							<label>
								<input type="checkbox" name="age_requirement" checked="checked" value="1" id="agreementchecked">
								同意
								<a href="javascript:void(0);" id="viewPubAgreement">《发布协议》 </a>
							</label>
						</div>
					</div>
				</div>
				<!-- form-group end -->
			</form>
			<div class="release-agreement hidden">
				<div class="agreement-header">
					<h2 class="agreement-title">《发布协议》</h2>
				</div>
				<p>任务发布协议<br></p>
				<p></p>
			</div>
		</div>      
		<!-- 加载各任务对应步骤  -->
    </div>
    <!-- release-body end -->
  </div>
  <!-- release end-->
</div>
</div>
#parse("includes/footer.vm")
<script type="text/javascript">
	$(function() {
		$("#active-style-rework").remove();
	});
	function checkowninput(){
	 	$("[minlength]").each(function(index,e){
	 		var inputlength=parseInt($(e).val().length);
	 		var minlength=parseInt($(e).attr('minlength'));
	 		if(inputlength<minlength){
	 			$(e).parent().parent().addClass('has-error');
	 		}else{
	 			$(e).parent().parent().removeClass('has-error');
	 		}
	 	})
	}

	/**
	  *检查是否选中发布协议*/
	function isAgreementChecked(){
		//增加判断自定义字段
		checkowninput();
		if($("#agreementchecked" ).is(":checked")){
			$("#pubAgreementTips").addClass('hidden');return true;
		}
		else{
			$("#pubAgreementTips").removeClass('hidden');return false;
		}
	}
	
	$(function(){
		$('#pubTaskFormstep2').scojs_valid({
		    rules: {
		    	taskTitle:['not_empty'],
		    	contact  : ['not_empty'],
		    	contactor  : ['not_empty'],
		    	subTime : ['not_empty'],
		    	endTime : ['not_empty']
		    },
		    messages: {
		    	taskTitle:{
					not_empty : "请输入需求简短描述"
				},
				contact: {
					not_empty : "请输入电话号码"
				},
				contactor: {
					not_empty : "请输入联系人信息"
				},
				subTime : {
					not_empty : "请设置截止日期"
				},
				endTime : {
					not_empty : "请设置任务周期"
				}
		    },
	    	wrapper:'.form-group',
	    	onSuccess: function(response, validator, $form) {
	    		#set($num = $NumberTool.toNumber($!taskstep)+1)
	    		window.location.href = "$!{base}/taskpub/step?usrType=$!usrType&step=$num";
	    	}
		});
	});
	
	function removeFile(obj, id){
		var url = "$!{base}/taskpub/deleteFile";
		var params = {"id": id};
		var success = function(data){
			$(obj).parent().remove();
		};
		$.post(url, params, success, "json");
	}
	
	function getIndustry(id, element, bool) {
		window.location.href = "$!{base}/taskpub/step?usrType=$!{usrType}&step=2&indusPid=" + id;
	}
	
</script>