#parse("includes/header_home.vm")
<link href="${base}/static/css/style.css" rel="stylesheet" type="text/css">
<div class="container">
<div id="main">
  <div class="release">
    	<div class="release-progress">
			#parse("task/publish/qqzx/task-step.vm")
    	</div>
    <!-- release-progress end-->
    <div class="release-body">
		<!-- release-help end  -->
		<!-- 加载各任务对应步骤  -->
		<div class="release-form">
		<hr/>
			<form class="form-horizontal" role="form" action="${base}/taskpub/pubsubmit" method="post" id="pubTaskFormstep2" name="pubTaskFormstep2" novalidate="novalidate">
				<input type="hidden" name="step" value="$!taskstep">
				<input type="hidden" name="usrType" value="$!usrType">
				<div class="form-group">
					<label class="col-sm-3 control-label">
						职位名称
						<span class="text-danger">:</span>
					</label>
					<div class="col-sm-7">
						<input type="text" class="form-control placeholder" id="txt_product" placeholder="职位名称">
					</div>
				</div>
				<div class="form-group">
					<label for="txt_mobile" class="col-sm-3 control-label">
						应届生应聘
						<span class="text-danger">:</span>
					</label>
					<div class="col-sm-3">
						<div class="checkbox">
								<label>
									<input type="radio" #if($!model.crashPayType == '1') checked="checked" #end value="1" name="yjsyp" onclick="stagesPay();">
									不允许
								</label>
								<label>
									<input id="stagespay" type="radio" #if($!model.crashPayType == '2') checked="checked" #end value="2"  name="yjsyp" onclick="stagesPay();">
									允许
								</label>
							</div>
					</div>
					<label for="txt_mobile" class="col-sm-1 control-label">
						性别
						<span class="text-danger">:</span>
					</label>
					<div class="col-sm-2">
						<div class="checkbox">
								<label>
									<input type="radio" value="1" name="sex" onclick="">
									男
								</label>
								&nbsp;&nbsp;&nbsp;
								<label>
									<input id="stagespay" type="radio" value="2"  name="sex" onclick="">
									女
								</label>
							</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">
						招聘人数
						<span class="text-danger">:</span>
					</label>
					<div class="col-sm-3">
						<input type="text" class="form-control placeholder" id="txt_product" placeholder="招聘人数">
					</div>
					<label class="col-sm-1 control-label">
						职位标签
						<span class="text-danger">:</span>
					</label>
					<div class="col-sm-3">
						<input type="text" class="form-control placeholder" id="txt_product" placeholder="职位标签">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">
						学历要求
						<span class="text-danger">:</span>
					</label>
					<div class="col-sm-3">
						<select class="form-control" name="yjyq" id="yjyq">
							#foreach($!dict in $!xlyqdict)
							<option #if($!model.xlyq == $!dict.value) selected="selected" #end value="$!dict.value">$!dict.content</option>
							#end
						</select>
					</div>
					<label class="col-sm-1 control-label">
						工资范围
						<span class="text-danger">:</span>
					</label>
					<div class="col-sm-3">
						<select class="form-control" name="yjyq" id="yjyq">
							#foreach($!dict in $!xzyqdict)
							<option #if($!model.xzyq == $!dict.value) selected="selected" #end value="$!dict.value">$!dict.content</option>
							#end
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">
						工作经验
						<span class="text-danger">:</span>
					</label>
					<div class="col-sm-3">
						<select class="form-control" name="gzjy" id="gzjy">
							#foreach($!dict in $!gzjydict)
							<option #if($!model.gzjy == $!dict.value) selected="selected" #end value="$!dict.value">$!dict.content</option>
							#end
						</select>
					</div>
					<label class="col-sm-1 control-label">
						职位类别
						<span class="text-danger">:</span>
					</label>
					<div class="col-sm-3">
						<select class="form-control" name="zwlb" id="zwlb">
							#foreach($!dict in $!zwlbdict)
							<option #if($!model.zwlb == $!dict.value) selected="selected" #end value="$!dict.value">$!dict.content</option>
							#end
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">
						工作地点
						<span class="text-danger">:</span>
					</label>
					<div class="col-sm-3">
						<select class="form-control" name="gzdd_sf" onchange="getZone(this.value, 'city');">
							<option value="">选择省份</option>
							#foreach($area in $!areas)
							<option  value="$area.id">$area.name</option>
							#end
						</select>
					</div>
					<label class="col-sm-1 control-label">
					</label>
					<div class="col-sm-3">
						<select class="form-control" name="gzdd_cs" id="city">
							<option value="">选择城市</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">
						专业要求
						<span class="text-danger">:</span>
					</label>
					<div class="col-sm-7">
						<input type="text" class="form-control placeholder" id="txt_product" placeholder="专业要求">
					</div>
				</div>
				<div class="form-group">
					<label for="tar_content" class="col-sm-3 control-label">
						岗位描述
					</label>
					<div class="col-sm-7">
						<textarea id="tar_content" name="taskDesc" placeholder="需求描述">$!model.taskDesc</textarea>
					</div>
					<script type="text/javascript" src="${base}/static/js/ueditor/ueditor.config.js"></script>
					<!-- 编辑器源码文件 -->
					<script type="text/javascript" src="${base}/static/js/ueditor/ueditor.all.min.js"></script>
					<script type="text/javascript" src="${base}/static/js/ueditor/lang/zh-cn/zh-cn.js"></script>
					<!-- 实例化编辑器 -->
					<script type="text/javascript">
						//这里可以选择自己需要的工具按钮名称,此处仅选择如下五个
						var ue = UE.getEditor('tar_content', {
							initialFrameWidth : '100%',
							initialFrameHeight : '200',
							elementPathEnabled:false,
							toolbars:[],
							wordCount:false
						});
					</script>
				</div>
				<hr/>
				<div class="form-group">
					<label class="col-sm-3 control-label">
						联系人
						<span class="text-danger">:</span>
					</label>
					<div class="col-sm-3">
						<input type="text" class="form-control placeholder" id="txt_product" placeholder="联系人">
					</div>
					<label class="col-sm-1 control-label">
						联系电话
						<span class="text-danger">:</span>
					</label>
					<div class="col-sm-3">
						<input type="text" class="form-control placeholder" id="txt_product" placeholder="联系电话">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">
						联系邮箱
						<span class="text-danger">:</span>
					</label>
					<div class="col-sm-3">
						<input type="text" class="form-control placeholder" id="txt_product" placeholder="联系邮箱">
					</div>
					<label class="col-sm-1 control-label">
						联系QQ
						<span class="text-danger">:</span>
					</label>
					<div class="col-sm-3">
						<input type="text" class="form-control placeholder" id="txt_product" placeholder="联系QQ">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">
						联系地址
						<span class="text-danger">:</span>
					</label>
					<div class="col-sm-7">
						<input type="text" class="form-control placeholder" id="txt_product" placeholder="联系地址">
					</div>
				</div>
				<hr/>
				<div class="form-group">
					<label for="txt_mobile" class="col-sm-3 control-label">
						招募截止日期
						<span class="text-danger">*</span>
					</label>
					<div class="col-sm-3">
						<input type="text" name="subTime" readonly="readonly" value="$!model.subTime" data-date-format="yyyy-mm-dd HH:mm" class="form-control form_datetime" placeholder="投标截止日期">
						<script type="text/javascript">
						    $(".form_datetime").datetimepicker({
						        format: "yyyy-mm-dd hh:ii",
						        showMeridian: true,
						        autoclose: true,
						        todayBtn: true
						    });
						</script>      
					</div>
					<label for="txt_mobile" class="col-sm-1 control-label">
						项目周期
						<span class="text-danger">*</span>
					</label>
					<div class="col-sm-3">
						<input type="text" name="endTime" readonly="readonly" value="$!model.endTime" data-date-format="yyyy-mm-dd HH:mm" class="form-control form_datetime" placeholder="任务周期">
						<script type="text/javascript">
						    $(".form_datetime").datetimepicker({
						        format: "yyyy-mm-dd hh:ii",
						        showMeridian: true,
						        autoclose: true,
						        todayBtn: true
						    });
						</script>      
					</div>
				</div>
				<!-- 手机号码 end -->
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-6">
						<button type="submit" class="btn btn-primary" value="下一步" onclick="return isAgreementChecked();">下一步</button>
						<a href="$!{base}/taskpub/step?usrType=$!{usrType}&step=2&indusPid=$!model.indusPid" class="btn btn-link">返回上一步</a>
						<input type="hidden" id="choseTypeHidden" name="choseTypeHidden" value="$!model.choseTypeHidden"/>
						<input type="hidden" id="paymentHidden" name="paymentHidden" value="$!model.paymentHidden"/>
						<input type="hidden" id="stagesHidden" name="stagesHidden" value="$!model.stagesHidden"/>
					</div>
				</div>
				<!-- form-group end -->
			</form>
		</div>      <!-- 加载各任务对应步骤  -->
    </div>
    <!-- release-body end -->
  </div>
  <!-- release end-->
</div>
</div>
#parse("includes/footer.vm")
<script type="text/javascript">
	$(function() {
		$("#active-style-rework").remove();
	});
	
	var callback = null;
	
	function choseProduct(){
		var modal = $.scojs_modal({
			remote : "/taskpub/task-chose-product?code=task_product_type&type=1",
			title : '产品类型选择'
		});
		modal.show();
		callback = function(keys, vals){
			$("#txt_product").val(selectedKeys.join("+"));
			if(vals && vals.length > 0) $("#task_product").val(vals.join(","));
		};
	}

	function choseProfession(){
		var modal = $.scojs_modal({
			remote : "/taskpub/task-chose-product?code=task_zhuanye_type&type=1",
			title : '专业选择'
		});
		modal.show();
		callback = function(keys, vals){
			$("#txt_profession").val(selectedKeys.join("+"));
			if(vals && vals.length > 0) $("#task_profession").val(vals.join(","));
		};
	}
	
	function chosePersional(){
		var modal = $.scojs_modal({
			remote : "/taskpub/task-chose-product?code=task_gerenyaoqi_type&type=1",
			title : '个人要求选择'
		});
		modal.show();
		callback = function(keys, vals){
			$("#txt_persional").val(selectedKeys.join("+"));
			if(vals && vals.length > 0) $("#task_profession").val(vals.join(","));
		};
	}
	
	function choseTeam(){
		var modal = $.scojs_modal({
			remote : "/taskpub/task-chose-product?code=task_gerenyaoqi_type&type=1",
			title : '团队要求选择'
		});
		modal.show();
		callback = function(keys, vals){
			$("#txt_team_required").val(selectedKeys.join("+"));
			if(vals && vals.length > 0) $("#task_team_requird").val(vals.join(","));
		};
	}
	
	function choseTaskCus(){
		var modal = $.scojs_modal({
			remote : "/taskpub/task-chose-product?code=task_rwhf_type&type=2",
			title : '产品类型选择'
		});
		modal.show();
		callback = function(keys, vals){
			$("#txt_taskcus").val(selectedKeys.join("+"));
			if(vals && vals.length > 0) $("#task_cycle").val(vals.join(","));
		};
	}
	
	function choseTypeMethod(){
		personalRequired();
		teamRequired();
		entRequired();
	}
	
	function personalRequired(){
		var checked = $("#choseType_personal").attr("checked");
		if(checked){
			$("#personal_requirement").show();
			$("input[name='ent_payment']").attr("checked", false);  
		}
		else{
			$("#personal_requirement").hide();
			$("#txt_persional").val("");
			$("#task_profession").val("");
		}
	}
	
	function teamRequired(){
		var checked = $("#choseType_team").attr("checked");
		if(checked){
			$("#team_requirement").show();
			$("#team_requirement_num").show();
		}
		else{
			$("#team_requirement").hide();
			$("#team_requirement_num").hide();
			
			$("#teamNum_required").val("");
			$("#txt_team_required").val("");
			$("#task_team_requird").val("");
		}
	}
	
	function entRequired(obj){
		var checked = $("#choseType_ent").attr("checked");
		if(checked){
			$("#ent_requirement").show();
			$("#ent_requirement_payment").show();
		}
		else{
			$("#ent_requirement").hide();
			$("#ent_requirement_payment").hide();
			$("#txt_ent_required").val("");
			$("input[name='ent_payment']").attr("checked", false);
		}
	}
	
	function stagesPay(){
		var checked = $("#stagespay").attr("checked");
		if(checked){
			stagesPayInput();
			$("#stagespay_hidden").show();
		}
		else{
			$("#stagespay_hidden").hide();
		}
	}
	
	function stagesPayInput(){
		$("#stagespay_hidden div:gt(0)").remove();
		var num = $("#stagespay_num").val();
		for(var i=0;i<num;i++){
			var html = "<div class=\"col-sm-2\" style=\"width:120px;\">";
				html += "<div class=\"input-group\">";
				html += "<input type=\"text\" class=\"form-control\" name=\"stages_num\" placeholder=\"百分比\">";
				html += "<span class=\"input-group-addon\">%</span>";
				html += "</div>";
				html += "</div>";
			$("#stagespay_hidden").append(html);			
		}
	}
	
	function isAgreementChecked(){
		var choseType = [], choseTypeName = [];
		$("input[name='ck_talentType']").each(function(){
			if($(this).attr("checked")){
				choseType.push($(this).val());
				choseTypeName.push($(this).parent().text().trim());
			}
		});
		$("#choseTypeHidden").val(choseType.join("_"));
		$("#txt_talentType").val(choseType.join(","));
		
		
		$("#txt_choseTypeName").val(choseTypeName.join(","));
		var payment = [], paymentName = [];
		$("input[name='ent_payment']").each(function(){
			if($(this).attr("checked")){
				payment.push($(this).val());
				paymentName.push($(this).parent().text().trim());
			}
		});
		$("#paymentHidden").val(payment.join("_"));
		$("#txt_paymentTypeName").val(paymentName.join(","));
		var stagesNum = [], persent = 0;
		$("#stagespay_hidden input").each(function(){
			var num = $(this).val();
			
			var re = /^[0-9]+.?[0-9]*$/;
			if(re.test(num)){
				persent += parseFloat(num);
			}
			stagesNum.push(num);
		});
		$("#stagesHidden").val(stagesNum.join("_"));
		var checked = $("#stagespay").attr("checked");
		if(checked && persent < 100){
			tipsOp("请重新设置分期付款数", "info");
			return false;
		}
		$("#txt_crashPayStages").val(stagesNum.join(","));
		return true;
	}
	
	$(function() {
		//选择方式设置
		var choseTypeHidden = $("#choseTypeHidden").val();
		var choseType = choseTypeHidden.split("_");
		if(choseType && choseType.length > 0){
			for(var i = 0; i < choseType.length; i++){
				$("input[name='ck_talentType'][value='"+choseType[i]+"']").attr("checked", "checked");
			}
			choseTypeMethod();
		}
		
		//企业支付方式设置
		var paymentHidden = $("#paymentHidden").val();
		var paymentType = paymentHidden.split("_");
		if(paymentType && paymentType.length > 0){
			for(var i = 0; i < paymentType.length; i++){
				$("input[name='ent_payment'][value='"+paymentType[i]+"']").attr("checked", "checked");
			}
		}
		$("#stagespay_num").val("$!model.crashPayNum");
		stagesPay();
		
		var stagesNum = "$!model.stagesHidden".split("_");
		$("#stagespay_hidden input").each(function(i){
			$(this).val(stagesNum[i]);
		});
		
	});
	
	// 
		$(function(){
			$('#pubTaskFormstep2').scojs_valid({
			    rules: {
			    	
			    },
			    messages: {
			    	
			    },
		    	wrapper:'.form-group',
		    	onSuccess: function(response, validator, $form) {
		    		#set($num = $NumberTool.toNumber($!taskstep)+1)
	    			window.location.href = "$!{base}/taskpub/step?usrType=$!usrType&step=$num";
		    	}
			});
		});
		
		function removeFile(obj, id, objType){
			var url = "$!{base}/taskpub/deleteFile";
			var params = {"id": id, "objType" : objType};
			var success = function(data){
				$(obj).parent().remove();
			};
			$.post(url, params, success, "json");
		}
		
		function getZone(id, element) {
			jQuery("#"+element).empty();
			if(element=="city"){
				jQuery("#" + element).append("<option value=''>选择城市</option>");
			}
			else{
				jQuery("#"+element).append("<option value=''>选择区域</option>");
			}
		
			if(id==""||id==null){
		
			}else{
				jQuery.post("${base}/taskHandle/areaOps",{"pid":id},function(data){
					jQuery.each(data, function(index,item){
						jQuery("#"+element).append("<option value='"+item.id+"'>"+item.name+"</option>");
					});
					if(element=="city"){
						$("#"+element).val(citystr);
						citystr="";
					}else{
						$("#"+element).val(areastr);
						areastr="";
					}
				},"json");
			}
		}
	
	
</script>