<div class="release-body">
	<div class="release-form">
		<p class="lead text-success text-center mt_20">
			<i class="fa fa-check-circle"></i>您的任务已成功发布，正在进行后台审核，请耐心等待
		</p>
		<div class="text-center mb_20">
			<a href="${base}/owner/mytask" class="btn btn-default">到用户中心查看详细</a>
		</div>
	</div>
</div>
<!-- release-body end -->